<section>
  <div class="container">
    <div class="row py-3">
      <div class="col-md-3">
        <div class="community">
          <h5 class="text-purple">Create community</h5>
          <a href="javascript:void(0)" (click)="communityCreate.open()"
            ><i class="fa main-color fa-plus-circle" aria-hidden="true"></i
          ></a>
        </div>
        <div class="">
          <div class="campus">
            <h5 class="text-purple">Category</h5>
            <ul class="campus-list">
              <li *ngFor="let category of categories">
                <a
                  class="mt-2"
                  href="javascript:void(0)"
                  [routerLink]="['/category', category.slug]"
                  >{{ category.name }}</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-12">
            <div class="community">
              <h4 class="text-purple">{{title?.name}}</h4>

            </div>
          </div>
          <div class="col-md-9">
            <div class="search-field mb-4">
              <input
                type="text"
                class="form-control shadow-sm"
                placeholder="Search by Name"
                [(ngModel)]="searchQuery"
              />
              <img
                src="../../../assets/images/search-solid.svg"
                width="30px"
                alt=""
              />
            </div>
          </div>
          <div class="col-md-3">
            <ng-select
            [clearable]="false" 
              [items]="sortTypes"
              bindLabel="name"
              bindValue="id"
              [(ngModel)]="sortType"
              class="rounded-pill shadow-sm"
            >
            </ng-select>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 mb-3">
            <app-community-list
              [type]="sortType"
              [slug]="slug"
              [searchQuery]="searchQuery"
              [url]="academicesPath"
              #communityList
            ></app-community-list>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-community-create #communityCreate (update)="onCreateCommuntiy($event)"></app-community-create>
