::ng-deep .nav-item {
  width: 50% !important;
  text-align: center;
}
::ng-deep .nav-tabs .nav-link {
  border: none;
}

::ng-deep .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  border-bottom: 1px solid #91009b !important;
  color: #021a68 !important;
  border-top-left-radius: 25px !important;
  border-top-right-radius: 25px !important;
}
.campus-list {
  list-style: none;
  padding-left: 0px;
}
.campus-list li {
  border-top: 1px solid lightgray;
  padding-bottom: 7px;
  padding-top: 6px;
}
::ng-deep .rounded-pill .ng-select-container {
  border-radius: 30px !important;
}
::ng-deep .ng-select-container{
  height: 38px;
}
::ng-deep .ng-value{
  margin-top: 4px;
}