<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
         <div class="card card-slider">
          <div class="logo-img text-center">
            <img class="logo" src="../../../assets/images/logo-01.png" alt="">
          </div>
          <div class="card-body">

            <div *ngIf="step==1" class="first-slide">
             <span >interact, learn ask, find everything you need to live the Ghentian experience to the fullest</span>
           </div>
           <div *ngIf="step==2" class="second-slide">
            <h4 class="main-color">What are you interested in?</h4>
            <div class="card">

            <div  class="card py-2">
              <div class="d-flex">
                <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills" orientation="vertical">
                  <li *ngFor="let cat of categories"  [ngbNavItem]="cat.slug" >
                    <a ngbNavLink (click)="getComunities(cat.slug)"><i [ngClass]="cat.icon"></i> {{cat.name}}</a>
                    <ng-template ngbNavContent>
                      <div *ngIf="!isLoader && communities.length > 0">
                        <ul  class="nav-tab-list">
                          <li *ngFor="let com of communities" [class]="com.isJoined?'active':''" ><a class="main-color" href="javascript:void(0)" (click)="onJoinClick(com.slug,com.isJoined)"><i class="fas icons-color fa-link"></i> <span>{{com.name}}</span></a></li>
                        </ul>
                      </div>
                      <no-content *ngIf="!isLoader && communities.length <= 0" [label]="'there are no communities yet'"></no-content>
                      <div *ngIf="isLoader" class="row p-5 d-flex justify-content-center">
                        <loader ></loader>
                      </div>
                    </ng-template>
                  </li>
                </ul>

                <div [ngbNavOutlet]="nav" class="tab-content-custom"></div>
              </div>
            </div>
            </div>

           </div>
           <div *ngIf="step==3" class="third-slide">
            <span>You are ready, go to your <a href="">feed</a> </span>
           </div>
           <div class="slider-indicators">
             <div *ngIf="step!=1" (click)="step>0?step=step-1:''" class="previous-slide">
               <i class="fas fa-chevron-left"></i>
             </div>
             <ul>
               <li [class]="step==1?'active':''"><i class="fas fa-circle"></i></li>
               <li [class]="step==2?'active':''"><i class="fas fa-circle"></i></li>
               <li [class]="step==3?'active':''"><i class="fas fa-circle"></i></li>
             </ul>

             <div *ngIf="step!=3" (click)="step<3?step=step+1:''" class="next-slide">
               <i class="fas fa-chevron-right"></i>
             </div>
           </div>
          </div>
         </div>
        </div>
    </div>
</div>

