<div class="o-container">
  <div class="m-content-wrapper">
    <img
      src="../../assets/images/logo-01.png"
      class="a-image"
      alt="logo Vinqlo"
    />
    <div class="m-content-text">
      <h1 class="a-big-title">Let's come together!</h1>
      <p class="a-paragraph">
        Vinqlo is a space where you can share your experiences, help out other
        students and make part of a community made for Ghentian students
      </p>
    </div>
    <div class="m-actions-wrapper">
      <button type="submit" [routerLink]="'auth'" class="a-button">
        Login
      </button>
      <button type="submit" [routerLink]="'auth/register'" class="a-button">Register</button>
    </div>
  </div>
</div>
