<footer class="o-footer">
  <div class="m-container">
    <div class="m-section">
      <h2 class="a-footer-title">About us</h2>
      <p class="a-footer-text">
        Vinqlo started as an initiative to help students to have a better
        integration, by providing a digital platform where they can build a
        community around the student life in Ghent.
      </p>
    </div>
    <div class="m-section">
      <h2 class="a-footer-title">Contact</h2>
      <ul>
        <li class="a-footer-text">
          <i class="fas fa-phone-square"></i>
          +32 474421588
        </li>
        <li class="a-footer-text">
          <i class="fab fa-instagram"></i>
          @vinqfluo
        </li>
      </ul>
    </div>
  </div>
</footer>
