<div class="sidebar h-1000">
  <ul class="sidebar-content">
    <li class="sidebar-list">
      <a
        href="javascript:void(0)"
        [routerLink]="['/users']"
        routerLinkActive="active"
        >Users</a
      >
    </li>
    <li class="sidebar-list">
      <a
        href="javascript:void(0)"
        [routerLink]="['/reports']"
        routerLinkActive="active"
        >Reports</a
      >
    </li>
    <li class="sidebar-list">
      <a
        href="javascript:void(0)"
        [routerLink]="['/academic-category']"
        routerLinkActive="active"
        >Create Academic Category</a
      >
    </li>
    <li class="sidebar-list">
      <a
        href="javascript:void(0)"
        [routerLink]="['/no-comment']"
        routerLinkActive="active"
        >Post without comments</a
      >
    </li>
  </ul>
</div>
