<ng-template #content >
  <div class="modal-header">
    <h4 class="modal-title text-purple" id="modal-basic-title">Change Password</h4>
    <button type="button" class="close" aria-label="Close" (click)="close()" >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="passForm">
      <div class="form-group">
        <div class="input-field">
          <label for=""> New Password </label>
          <input type="text" formControlName="password" class="form-control custom-border" placeholder="Enter New Password here .." />
          <errors [control]="f.password"></errors>

        </div>
        <div class="input-field">
          <label for=""> Confirm Password</label>
          <input type="text"  formControlName="confirmPassword" class="form-control custom-border" placeholder="Enter Confirm Password here .." />
          <errors [control]="f.confirmPassword"></errors>

        </div>

        <button class="btn mb-2 btn-main" [disabled]="!passForm.valid" (click)="onPost()">Change</button>
      </div>
    </form>
  </div>
</ng-template>
