<div class="col-md-12">
  <div class="card card-table mt-5 pl-3 shadow-sm">
    <h4 class="modal-title text-purple" id="modal-basic-title">
      Create Academic Category
    </h4>
  </div>
</div>
<div class="col-md-12 py-3">
  <div class="card shadow-sm py-3 card-table">
    <div class="row">
      <div class="col-md-12 px-5">
        <div style="position: relative">
          <input
            #cName
            type="text"
            class="form-control custom-border"
            placeholder="Enter New Campus Name "
            (keyup.enter)="createCampus(cName.value);cName.value=''"
          />
          <button
            class="btn btn-plus"
            align="right"
            (click)="createCampus(cName.value)"
          >
            <i class="fas fa-plus-circle"></i>
          </button>
        </div>
      </div>
      <div class="px-5">
        <div *ngIf="!isLoader" class="row">
          <div *ngFor="let camp of campuses" class=" col-md-6">
            <div class="card-campus shadow-sm">
              <a style="cursor:pointer;" (click)="createDegree.open(camp)"><h4 class="main-color">{{ camp.name }}</h4></a>
              <a style="cursor:pointer;" (click)="listOfUser.openCampus(camp.name,camp.degrees)"><p><i class="fas icons-color fa-users"></i> {{countMembers(camp.degrees)}}</p></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <loader *ngIf="isLoader"></loader>
</div>
<app-create-degree #createDegree></app-create-degree>
<app-user-listing #listOfUser></app-user-listing>
